.container {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;

  &__list {
    list-style-type: none;

    padding: 0;
    margin: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .container {
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    &__list {
      display: flex;
    }
  }
}
