.footer {
  text-align: center;
  background-color: var(--seconadary-background-color);
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.5;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 30px;
  &__contakt {
    display: flex;
    flex-direction: column;
    color: var(--footer-text-color);
    margin-bottom: 60px;
  }
  &__join {
    display: block;
  }
  &__address {
    margin-top: 20px;
  }
  &__newsletter {
    border-color: transparent;
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  &__input-email {
    width: 50vw;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white-text-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding-left: 10px;
  }
}
@media (min-width: 480px) {
  .footer {
    &__contakt {
      width: 100%;
    }
    &__address {
      margin-top: 20px;
      width: 100%;
    }
    &__newsletter {
      width: 100%;

      border-color: transparent;
      padding-top: 20px;
    }
  }
}
@media (min-width: 768px) {
  .footer > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer {
    &__join {
      width: 40vw;
      margin-bottom: 85px;
    }
    &__box {
      width: 40vw;
    }

    &__newsletter {
      width: 100vw;

      border-color: transparent;
      padding-top: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .footer > .container {
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
  }
  .footer {
    &__box {
      width: 590px;
    }
    &__join {
      margin-left: 70px;
      margin-top: 0;
    }
    &__newsletter {
      margin-bottom: 85px;
      display: flex;
      width: 560px;
      height: 86px;
      margin-left: 60px;
      border-color: transparent;
      padding-top: 20px;
      margin-top: auto;
    }
    &__input-email {
      width: 350px;
      height: 50px;
      margin-right: 10px;

      padding-left: 15px;
    }
    &__newsletter {
      height: 86px;
    }
  }
}
