.mobile-menu {
  position: relative;
  height: 100%;
  width: 100%;

  &__nav {
  }
  &__contact {
    position: absolute;
    bottom: 15vh;
  }

  &__mail {
    text-decoration: none;
    font-size: 24px;
    color: var(--secondary-text-color);
  }

  &__tel {
    text-decoration: none;
    color: var(--main-theme-color);
    font-size: 34px;
    margin-bottom: 10px;
  }

  &__social-media {
    position: absolute;
    bottom: 5vh;

    justify-content: space-between;
    width: 90vw;
    color: var(--main-theme-color);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
  }
}
